.blogItem {
  a {
    text-decoration: none;
    &:hover .blogTitle {
      color: #1b5bf7;
    }
  }
  .blogImg {
    margin-bottom: 24px;
    display: block;
    border-radius: 8px;
  }
  .blogEvent {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    & svg {
      color: #aebec9;
    }
    .blogDate {
      display: flex;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #aebec9;
      &::after {
        content: "";
        margin-left: 16px;
        margin-right: 17px;
        width: 2px;
        height: 16px;
        background-color: #aebec9;
      }
    }
    .blogView {
      margin-left: 5px;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #aebec9;
    }
  }
  .blogTitle {
    margin: 0;
    transition: all 0.2s ease-in;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
}
