.header {
  background: #fafafc;
  .headerContainer {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    .headerLogo {
      margin-right: auto;
      .logoImg {
        display: block;
      }
    }
    .headerList {
      padding: 0;
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
      list-style-type: none;
      display: flex;
      position: absolute;
      top: 100px;
      .headerItem {
        &:not(:last-child) {
          margin-right: 40px;
        }
        .headerLink {
          transition: all 0.2s ease-in;
          font-family: "Roboto", sans-serif;
          text-decoration: none;
          font-size: 16px;
          line-height: 24px;
          color: black;
          white-space: nowrap;
          &:hover {
            color: rgb(27, 91, 247);
          }
        }
      }
    }
    .headerNotification {
      margin-right: 29px;
      position: relative;
      cursor: pointer;
      svg {
        width: 21px;
        height: 26px;
      }
      .NotificationCount {
        padding: 3px 8px;
        border-radius: 20px;
        position: absolute;
        top: -8px;
        left: 10px;
        font-family: "Inter";
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        background: #f76659;
      }
    }
    .headerBtn {
      padding: 16px;
      border: none;
      border-radius: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      font-family: "Inter", sans-serif;
      color: #ffffff;
      background: rgb(27, 91, 247);
      box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      &:hover {
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4);
      }
      &:active {
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6);
      }
    }
  }
}
