.footer {
  margin-top: 200px;
  background: #f9f9f9;
  .footerContainer {
    padding: 40px 30px;
    .footerList {
      padding: 0;
      margin: 0;
      display: flex;
      list-style-type: none;
      .footerItem {
        flex: 1;
        &:not(:last-child) {
          margin-right: 20px;
        }
        &:first-child {
          flex: 1.7;
          font-family: "DM Sans", sans-serif;
          font-size: 15px;
          line-height: 20px;
          letter-spacing: -0.204545px;
          color: #1e2833;
        }
        // .footerLogo {
        //   .logoImg {
        //     display: flex;
        //   }
        // }
        .footerText {
          max-width: 395px;
          margin-top: 24px;
          margin-bottom: 85px;
        }
        .footerCopyright {
          margin: 0;
          color: rgba(30, 40, 51, 0.5);
        }
        .footerTitle {
          margin: 0;
          margin-bottom: 20px;
          font-family: "Inter", sans-serif;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: -0.231818px;
          color: #000000;
        }
        .footerNav {
          padding: 0;
          margin: 0;
          list-style-type: none;
          .footerNavItem {
            &:not(:last-child) {
              margin-bottom: 20px;
            }
            .footerNavLink {
              font-family: "Inter", sans-serif;
              text-decoration: none;
              transition: all 0.2s ease-in;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: -0.204545px;
              color: #1e2833;
              &:hover {
                color: #1b5bf7;
              }
            }
          }
        }
      }
    }
  }
}
